@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: #ea0a40;
		--color-text-main: #ffffff;
		--color-text-support: #bdbdad;
		--color-background-base: #122024;
		--color-background-muted: #1a0e0d;
		--color-background-support: #101214;
	}

	* { box-sizing: border-box; }

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background: var(--color-background-base);
		color: var(--color-text-support);
		@apply font-signika
	}
}
